#!/bin/bash
## Define some paths
export SCRIPT=$(readlink -f "$0")
export DIR=$(dirname "$SCRIPT")
export DATA="$DIR/data"
export TEMPLATE="$DIR/template"

function generatePassword() {
    tr -dc 'a-zA-Z0-9' < /dev/urandom | head -c 64
}

cd "$DIR"
if [ ! -f docker-compose.yml ]; then
    exit 1
fi

if [ ! -f .env ]; then
    cd "$DIR"
    rm -rf "$DATA"
#    cp -rp "$TEMPLATE" "$DATA"

#    mkdir -p "$DATA"/{web/letsencrypt,transcripts,prosody/config,prosody/prosody-plugins-custom,jicofo,jvb,jigasi,jibri}

    cp env.example .env

    source .env

    JICOFO_COMPONENT_SECRET=$(generatePassword)
    JICOFO_AUTH_PASSWORD=$(generatePassword)
    JVB_AUTH_PASSWORD=$(generatePassword)
    JIGASI_XMPP_PASSWORD=$(generatePassword)
    JIBRI_RECORDER_PASSWORD=$(generatePassword)
    JIBRI_XMPP_PASSWORD=$(generatePassword)
else
    source .env
fi

HTTP_PORT="8000"
CONFIG="./data"
PUBLIC_URL=https://{{ nginx_domain_name }}
LETSENCRYPT_DOMAIN={{ nginx_domain_name }}

sed -i \
    -e "s#JICOFO_COMPONENT_SECRET=.*#JICOFO_COMPONENT_SECRET=${JICOFO_COMPONENT_SECRET}#g" \
    -e "s#JICOFO_AUTH_PASSWORD=.*#JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD}#g" \
    -e "s#JVB_AUTH_PASSWORD=.*#JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD}#g" \
    -e "s#JIGASI_XMPP_PASSWORD=.*#JIGASI_XMPP_PASSWORD=${JIGASI_XMPP_PASSWORD}#g" \
    -e "s#JIBRI_RECORDER_PASSWORD=.*#JIBRI_RECORDER_PASSWORD=${JIBRI_RECORDER_PASSWORD}#g" \
    -e "s#JIBRI_XMPP_PASSWORD=.*#JIBRI_XMPP_PASSWORD=${JIBRI_XMPP_PASSWORD}#g" \
    -e "s#HTTP_PORT=.*#HTTP_PORT=${HTTP_PORT}#g" \
    -e "s#CONFIG=.*#CONFIG=${CONFIG}#g" \
    -e "s#.*ENABLE_AUTH=.*#ENABLE_AUTH=1#g" \
    -e "s#.*ENABLE_GUESTS=.*#ENABLE_GUESTS=1#g" \
    -e "s#.*AUTH_TYPE=.*#AUTH_TYPE=internal#g" \
    -e "s#.*ENABLE_LOBBY=.*#ENABLE_LOBBY=1#g" \
    -e "s#.*LETSENCRYPT_DOMAIN=.*#LETSENCRYPT_DOMAIN=${LETSENCRYPT_DOMAIN}#g" \
    -e "s#.*PUBLIC_URL=.*#PUBLIC_URL=${PUBLIC_URL}#g" \
    "$(dirname "$0")/.env"