---
users:
  - { name: 'lmh', sshkeys: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDO6f2uHq7mhxw7o6f5j7ZvhhBR3VR9TGUu47da7rHJYbUxAMiUIrXxmDE6ytZciAIPL67chCnfe/dZ20NFy356C6Jd2ARVaWYCQwSmiDOtRxSeZtvXZMAyJWIRvddYUV89Zvuy8cpvoiPKLVSYtEnQiIsAbtYlnRMpzDo6VYrmqrJrodCJL78rXMXd9r5GGI/t5URwQCqDrESSM3xf/PXoazrYvDKDH5tGX+Xjj3hg1U/moGnPY/zjloiK0RgHGyjBfaP6qgNjz8TSf7Csd1ZKwWbQ6Zt3msgH7bpu8B1Ag2ZgksWtQvO1iV62g+MT0qgtS1MALOO8u+wJyW/c0fNNcnTre1/6LGO3pbEwFtNB+ug3mixsjDMLhLGwBG5/+ycIdMsvkAwpFRAMat8lcpuS3f4fJogMT+0MywTlu7qkiRaC0s93cstvThAYOL/Rmmbwwo7wASccSa+uW6wzkjxHquPrsA/BEiw3u9d5JdtPiD8SFHy7lIpk0CzHXN1J/a1/pyty9BsCT3u1y/Scs0h8u1aCi7SWj29zlpZqU9bIEztC15aR2qVuyS6UEIFHEXu/8Fkyj/Go/qyab0S6w9fHcrWeGmLwhSTiBr4cZaJMnqKHHiI1JyHA3rfAeurGpPXSzhAk6QYIJT+OW/+nmjhjhZ54YFYBBL33/+F2178kfw==' }
  - { name: 'fdre', sshkeys: 'ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAgEApczIEdbjDs08H20Roy/uoXCyxbR2m+DBJ8YJ6BoWAyWqAUJMaeJLwrd5AphPx1ofQLAmxEbXfrvyioy5ejIlKtw51MD/Lz/KksfnwurV2VGL9BicogPSxegrnIDu4gQaN0jibVu9sGzdixi4B+/5rVnFuP/S7lXUhrevylFmwLQ5q9VtOl3odjRpS62wmrmgZHBYrC2ECA+dBTbaDhERq8e8aEdGd8+uHVYurbwir4i5tXmPilNy4YiUobvEp8dTm7E0Eu4LxfrqsaDvCuISI0XO61qZiQ2XUCsaqB0qgyXi0K+ona7TNjhKyqc5N1uLsTlpKtHhIOUtpfgIXJ/RSEW6wFY0SzPyGw7VLRfU7Ov4XFCw7Z5CI45khNFuGowYw2F7r4bGsTxp9RSjW2g8HzxqI7f5vkKndG+GU8YVX5vHuKKdILpQFSLPtCstXiddHCMvtMqrv7XmzJIFOl1IlZKmcuMGr2MGWDJEvb9UXro3DK68xjwXcHG6oc/KOFTFrRTHcBlNlfBrkyoTNfm7cejRFiw3Rc/kjG7FrZG3q3oXm0WcBfrppUkhBz5Lz2vgVltHL9SOecXNJvPPLlyP2VXWOPQgW6BCKjMOKgbbhVB8r5gPYbZ1/oSsqsNx5a46NV4ATB90ddJjrYIhqkwfU7m963VbjzQ03FWT15q/wgc=' }

letsencrypt_email: USER@MYMAIL.XYZ

main_domain: MYDOMAIN.XYZ

collabora_domain: SOMETHING\\.OTHERDOMAIN\\.XYZ
