version: '2.2'
services:
  watchtower:
    image: v2tec/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: watchtower --schedule '0 2 * * *'  --cleanup --debug 
    environment:
      - TZ='Europe/Berlin'
    restart: always

