version: '2'
services:

  cryptpad:
    image: "cryptpad/cryptpad:latest"
    hostname: cryptpad

    labels:
      - traefik.port=3000
      - traefik.frontend.passHostHeader=true
    environment:
      - USE_SSL=${USE_SSL}
      - STORAGE=${STORAGE}
      - LOG_TO_STDOUT=${LOG_TO_STDOUT}

    ports:
      - "127.0.0.1:3000:3000"
      - "127.0.0.1:3001:3001"

    restart: always
    volumes:
      - ./data/files:/cryptpad/datastore:rw
      - ./data/customize:/cryptpad/customize:rw
      - ./data/blob:/cryptpad/blob:rw
      - ./data/block:/cryptpad/block:rw
      - ./data/config:/cryptpad/cfg:rw
      - ./data/data:/cryptpad/data:rw
