---
version: '2'

services:
  cryptpad:
    user: root
    image: "promasu/cryptpad:latest"
    hostname: cryptpad

    restart: always

    volumes:
      - ./data/blob:/cryptpad/blob
      - ./data/block:/cryptpad/block
      - ./data/customize:/cryptpad/customize
      - ./data/config.js:/cryptpad/config/config.js
      - ./data/data:/cryptpad/data
      - ./data/files:/cryptpad/datastore

    ports:
      - "127.0.0.1:3000:3000"

    expose:
      - "3000"

    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000